.App {
  text-align: center;
background-color: #071737;
color: rgb(255, 213, 0);
font-family: 'Barlow', sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: rgb(255, 204, 0);
  color: #071737;
  
 }
 .link-name {
  margin: 20px;
  text-decoration: none;
  font-weight: 700;
  font-size: 14pt;
 }
 .link-name:hover {
  margin: 20px;
  text-decoration: underline;
 }

 .link-name:visited { 
  text-decoration: none; 
  color: #071737;
}

.link-name:before {
  text-decoration: none; 
  color: #071737;
}

 .navbar-logo {
  height: 140px;
  margin: 1px;
 }

 /* .slogan {
  font-weight: 400;
  font-size: 12pt;
  color: #071737;
 } */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.slideshow{
 display: flex;
 justify-content: center;
 align-items: center;
 max-width: 100%;
height: 200px;
}


